@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin paragraph-styles {
  font-size: 0.8125rem;
  font-weight: $font-normal;
  color: $devfinder-dark-blue;
  line-height: 1.5625rem;
}
