@use "./variables" as *;

@mixin dark-mode-styles {
  background-color: $darkmode-black;
  color: $darkmode-white;

  input,
  section {
    background-color: $darkmode-dark-blue;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin paragraph-styles {
  font-size: 0.8125rem;
  font-weight: $font-normal;
  color: $devfinder-dark-blue;
  line-height: 1.5625rem;
}
