// Light Mode Colors
$devfinder-blue: #0079ff;
$devfinder-gray: #697c9a;
$devfinder-dark-blue: #4b6a9b;
$devfinder-navy: #2b3442;
$devfinder-light-blue: #f6f8ff;
$devfinder-white: #fefefe;
$logo-color: #222731;

// Dark Mode Colors
$darkmode-white: #ffffff;
$darkmode-black: #141d2f;
$darkmode-dark-blue: #1e2a47;

$unavailable-info-color: #a4b4cc;
$btn-hover-color: #60abff;

$font-bold: 700;
$font-normal: 400;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;
