@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.625rem;
  font-weight: $font-bold;
  color: $logo-color;

  &.dark-mode {
    color: $darkmode-white;
  }
}
