@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

body {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
  }
}

:root {
  --bg-color-light: #f6f8ff;
  --text-color-light: #4b6a9b;
  --bg-color-dark: #141d2f;
  --text-color-dark: #ffffff;
}

html,
body,
h1,
h2,
h3,
p {
  box-sizing: border-box;
  margin: 0;
  font-family: "Space Mono", monospace;
  color: var(--text-color-light);
}

button,
input {
  font-family: "Space Mono", monospace;
  color: var(--text-color-light);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-color-light);
  padding-top: 1.9375rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include tablet {
    padding: 8.75rem 6.125rem 10rem 6.0625rem;
  }

  @include desktop {
    padding-top: 4.5rem;
    padding-bottom: 6rem;
    padding-left: 25%;
    padding-right: 25%;
  }

  &.dark {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
  }
}
